@import "../../styles/variables.scss";

.user-social-box {
  width: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .left {
      h4 {
        font-weight: 500;
        padding-bottom: 2px;
        text-transform: capitalize;
      }

      .user-Statics-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .userHashtagName {
          color: gray;
          font-size: 14px;
        }

        .userStatics {
          border-radius: 4px;
          padding: 0 3px;
          span {
            margin-left: 4px;
            font-size: 14px;
            color: $soft-bg;
          }
        }
      }
    }

    .right {
      width: 40px;
      height: 40px;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h3 {
      font-weight: 500;
      padding-bottom: 5px;
    }

    .left {
      span {
        font-size: 14px;
      }
    }
    .right {
      span {
        font-size: 14px;
      }
    }
  }
}
