@import "../../styles/variables.scss";

.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 20px;

  .box {
    border: 2px solid $soft-bg;
    display: flex;
    align-items: center;
    // background-color: #eee;
    // color: #000;
    border-radius: 8px;
  }

  .box5 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .box6 {
    grid-column: span 2;
    grid-row: span 1;
  }
}
